.card
  .row
    .col-md-offset-2.col-md-8.col-lg-offset-3.col-lg-6
      .well.profile
        .col-sm-12
          .col-xs-12.col-sm-8
            h2= email
            p
              strong About:
            p
              strong Influences:
            p
              strong Skills:
                each skill in skills
                  span.tags= skill
          .col-xs-12.col-sm-4.text-center
            figure
              img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
              figcaption.ratings
                p
                  | Ratings
                  a(href='#')
                    span.fa.fa-star
                  a(href='#')
                    span.fa.fa-star
                  a(href='#')
                    span.fa.fa-star
                  a(href='#')
                    span.fa.fa-star
                  a(href='#')
                    span.fa.fa-star-o
        .col-xs-12.divider.text-center
          .col-xs-12.col-sm-4.emphasis
            h2
              strong  SMS Text
            p
              small send your email to:
                span=email
            button.btn.btn-success.smsText
              span.glyphicon.glyphicon-comment(style='margin-right:5px')
              span.smsNumber= phone
          .col-xs-12.col-sm-4.emphasis
            h2
              strong Email
            p
            a.btn.btn-info.sendEmail(href='mailto:' + email + '?Subject=Timbre:%20' + artist.email + '%20wants%20to%20jam!')
              span.glyphicon.glyphicon-envelope(style='margin-right:5px')
              span.emailAddress=email
          .col-xs-12.col-sm-4.emphasis
            h2
              strong Links
            button.btn.button-highlight.soundCloud(style='margin:5px') soundCloud
            button.btn.button-primary.cardProfile(style='margin:5px')
              span.glyphicon.glyphicon-user(style='margin-right:5px')
              span Profile
      .soundCloud-container
        iframe(width='100%', height='300', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/112743632&auto_play=false&hide_related=false&visual=true')

          //- .col-xs-12.col-sm-4.emphasis(style='padding:5px')
          //-   h2
          //-     strong 43
          //-   p
          //-     small Snippets
          //-   .btn-group.dropup.btn-block
          //-     button.btn.btn-primary(type='button')
          //-       span.fa.fa-gear
          //-       | Options
          //-     button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          //-       span.caret
          //-       span.sr-only Toggle Dropdown
          //-     ul.dropdown-menu.text-left(role='menu')
          //-       li
          //-         a(href='#')
          //-           span.fa.fa-envelope.pull-right
          //-           | Send an email
          //-       li
          //-         a(href='#')
          //-           span.fa.fa-list.pull-right
          //-           | Add or remove from a list
          //-       li.divider
          //-       li
          //-         a(href='#')
          //-           span.fa.fa-warning.pull-right
          //-           | Report this user for spam
          //-       li.divider
          //-       li
          //-         a.btn.disabled(href='#', role='button')  Unfollow
